!!!
%html
 %head
  %title= @message
 %body
  #test
  %div.container
   %h2 Table haml sample

   %table.table
    %tr
     %th.success Menu
    %tr
     %td.success calubo
   #header
   %h3 Haml!
   #content
   %p.text-danger I love Haml
   #array
   %table.table.table-striped
    - @users.each do |item|
     %tr
      %td= item.serial