<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">ホームシステム</a>
        </div>
        <!-- 3.リストの配置 -->
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">本部からのお知らせ</a></li>
            <li><a href="/sample/test">在庫確認</a></li>
            <li><a href="#">入出庫登録</a></li>
            <li><a href="/haml">Haml</a></li>
        </ul>
        <!-- 4.ボタン -->
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-envelope"></span>
        </button>
    </div>
</nav>

<div class="container">

	<div class="page-header">
		<h1>Bootstrap grid examples</h1>
		<p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>
	</div>
    
	<div class="row">
	  <span class="col-xs-2 bg-primary">.col-md-1</span>
	  <div class="col-xs-2 bg-success">.col-md-1</div>
	  <div class="col-xs-2 bg-success">.col-md-1</div>
	  <div class="col-xs-3 bg-success">.col-md-2</div>
	  <div class="col-xs-3 bg-success">.col-md-3</div>
	</div>
	
<div id="footer">
    <div class="logo">LOGO </div>
    <!-- /footer-logo -->
    <ul class="navbar-nav list-inline">
        <li class="first">
            <a href="">MENU1</a>
        </li>
        <li>
            <a href="">MENU2</a>
        </li>
        <li>
            <a href="">MENU3</a>
        </li>
        <li>
            <a href="">MENU4</a>
        </li>
        <li>
            <a href="">MENU5</a>
        </li>
    </ul>
    <!-- /nav -->
    <div class="clearfix"></div>
    <ul class="sns-icon list-inline">
        <li>
            <i class="fa fa-twitter fa-2x"></i>
        </li>
        <li>
            <i class="fa fa-facebook fa-2x"></i>
        </li>
    </ul>
    <!-- /sns-icon -->
    <div class="copy">
        <span>Copyright &#169; 2013 example.com All Rights Reserved.</span>
    </div>
    <!-- /copy -->
</div>
			
</div> <!-- /container -->