!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title Sample App Haml
    %link{ href: "../css/bootstrap.min.css", rel: "stylesheet" }

  %body
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{ src: "../js/bootstrap.min.js"}
    = yield
