<div class="page-container">
    <div class="header">Header</div>
    <div class="page-content">
        <div class="side">Side</div>
        <div class="main">
            <div class="main-inner">Contents</div>
            <div class="footer">Footer</div>
        </div>
    </div>
</div>