%div.container
 %div.page-header
  %h2= ("Bootstrap #{@message}")
  %p.lead Basic grid layouts to get you familiar with building within the Bootstrap grid system.
    
 %div.row
  %div.col-xs-2.col-sm-3.col-md-4.col-lg-4.bg-success
   %p{:align => 'center'}= ("Menu")
  %div.col-xs-4.col-sm-6.col-md-8.col-lg-8.bg-success.bg-info
   %p{:align => 'center'}= ("Contents")
